<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/qt/css/init.css">
    <link rel="stylesheet" href="/qt/css/common.css">
    <link rel="stylesheet" href="css/shouye.css">
    <script src="/qt/js/jquery.min.js"></script>
    <script src="/qt/js/common.js"></script>
    <script src="/qt/js/shouye.js"></script>
</head>

<body>
   <!-- 头部开始 -->
<div class="header clearfix">
    <div class="logo fl">
        <a  href=""><img src="/qt/images/logo.png" alt=""></a>
        <span>|</span>
        <p>
            CORONAVIRUS<br/>
            RESOURCE CENTER
        </p>            
    </div>
    <div class="pc-nav fr clearfix">
        <ul class="nav">
            <li><a href="/qt/">Home</a>
                <ul>
                    <li><a href="">1.1shirley</a></li>
                    <li><a href="">1.2shirley</a></li>
                </ul>
            </li>
            <li><a href="/qt/map">Maps & Trends</a>
                <ul>
                    <li><a href="">China-map</a></li>
                    <li><a href="">World-map</a></li>
                    <li><a href="">Trends</a></li>
                </ul>
            </li>
            <li><a href="/qt/tr-simple1">Testing</a></li>
            <li><a href="/qt/tr-simple2">News&Information</a></li>
            <li><a href="#">COVID-19 Basics</a></li>
            <li><a href="#">Videos & Live Events</a></li>
        </ul>       
     </div>
</div>
<div class="mobile-inner-header clearfix">
    <div class="mobile-logo fl">
        <a  href=""><img src="/qt/images/logo.png" alt=""></a>
        <span>|</span>
        <p>
            CORONAVIRUS<br/>
            RESOURCE CENTER
        </p>            
    </div>
    <div class="mobile-inner-header-icon mobile-inner-header-icon-out"><span></span><span></span></div>
</div>
<div class="mobile-inner-nav">
    <ul>
        <li><a href="/qt/">Home</a>
            <ul>
                <li><a href="#">1.1shirley</a></li>
                <li><a href="#">1.2shirley</a></li>
            </ul>
        </li>
        <li><a href="/qt/map">Maps & Trends</a>
            <ul>
                <li><a href="#">China-map</a></li>
                <li><a href="#">World-map</a></li>
                <li><a href="#">Trends</a></li>
            </ul>
        </li>
        <li><a href="/qt/tr-simple1">Testing</a></li>
        <li><a href="/qt/tr-simple2">News&Information</a></li>
        <li><a href="#">COVID-19 Basics</a></li>
        <li><a href="#">Videos & Live Events</a></li>
    </ul>       
</div>
<!-- 头部结束 -->

    <!--内容开始-->
    <div class="container">
        <!--介绍开始-->
        <div class="introduciton">
            <div class="introduciton_content_bt">
                <h1 class="fl">CORONAVIRUS RESOURCE CENTER</h1>
                <div class="introduciton_content_js">
                    <p><strong>Johns Hopkins experts in global public health, infectious disease, and emergency
                            preparedness have been at the forefront of the international response to COVID-19.</strong>
                    </p>
                    <p>This website is a resource to help advance the understanding of the virus, inform the public, and
                        brief policymakers in order to guide a response, improve care, and save lives.</p>
                </div>
            </div>
        </div>
        <!--介绍结束-->
        <!--"MapsAndCharts-->
        <div class="MapsAndCharts clearfix">
            <div class="MapsAndCharts_left fl">
                <div class="MapsAndCharts_leftHeader">
                    <h2>COVID-19 Case Tracker</h2>
                    <p>Follow global cases and trends.</br><em>Updated daily.</em></p>
                </div>
                <div class="MapsAndCharts_leftMain">
                    <div class="MapsAndCharts_leftMain">
                        <p class="fl">Global Confirmed</br><strong class="num_01">7.789.024</strong></p>
                        <p class="fl">Global Deaths</br><strong>430.172</strong></p>
                        <p class="fl" style="color: #73DFFF">Total Test Results in China</br><strong class="num_02"
                                style="margin-left:55px;">10000</strong></p>
                    </div>
                </div>
                <div class="MapsAndCharts_leftMap clearfix">
                    <a class="MapsAndCharts_button fl" href="/qt/map"><span>View the COVID-19 <br>Global
                            Map<strong>-></strong></span></a>
                    <a class="MapsAndCharts_button fl" href="/qt/map"><span>View the COVID-19 <br>China
                            Map<strong>-></strong></span></a>
                    <a class="MapsAndCharts_button fl" href="/qt/map"><span>Explore Critical
                            <br>Trends<strong>-></strong></span></a>
                </div>

            </div>
            <div class="MapsAndCharts_right fr">
                <a class="MapsAndCharts_Box ChartCard_new">
                    <h4>Testing Insights</h4>
                    <div class="MapsAndCharts_BoxContent">
                        <h2>Testing Trends Tool</h2>
                        <h3>See changes in new cases and testing capacity in all 50 states</h3>
                    </div>
                    <div class="MapsAndCharts_LM"><span>Learn More<strong>-></strong></span></div>
                </a>
                <a class="MapsAndCharts_Box ChartCard_new">
                    <h4>Trends</h4>
                    <div class="MapsAndCharts_BoxContent">
                        <h2>New Cases of COVID-19 in US States</h2>
                        <h3>Have states flattened the curve?</h3>
                        <p>See if new cases are rising or declining as states reopen.</p>
                    </div>
                    <div class="MapsAndCharts_LM"><span>Learn More<strong>-></strong></span></div>
                </a>
                <a class="MapsAndCharts_Box ChartCard_new">
                    <h4>Trends</h4>
                    <div class="MapsAndCharts_BoxContent">
                        <h2>New Cases</h2>
                        <h3>Have countries flattened the curve?</h3>
                        <p>
                            "Daily confirmed new COVID-19 cases for the 20 most affected countries over time."
                        </p>
                    </div>
                    <div class="MapsAndCharts_LM"><span>Learn More<strong>-></strong></span></div>
                </a>
            </div>
            
            <div class="MapsAndCharts_bottom">
                <a class="MapsAndCharts_Box ChartCard_new marg">
                    <h4>Testing Insights</h4>
                    <div class="MapsAndCharts_BoxContent">
                        <h2>States Comparison</h2>
                        <h3>Which U.S. States Meet WHO Recommended Testing Criteria?</h3>
                        <p>See if your state is testing enough</p>
                    </div>
                    <div class="MapsAndCharts_LM"><span>Learn More<strong>-></strong></span></div>
                </a>
                <a class="MapsAndCharts_Box ChartCard_new marg">
                    <h4>Testing Insights</h4>
                    <div class="MapsAndCharts_BoxContent">
                        <h2>State Trends</h2>
                        <h3>Weekly China Testing Trends</h3>
                        <p>Track daily and weekly testing trends in the US and state-by-state</p>
                    </div>
                    <div class="MapsAndCharts_LM"><span>Learn More<strong>-></strong></span></div>
                </a>
                <a class="MapsAndCharts_Box ChartCard_new marg">
                    <h4>Trends</h4>
                    <div class="MapsAndCharts_BoxContent">
                        <h2>U.S. State Data Availability</h2>
                        <h3>Which states have released breakdowns of Covid-19 data by race?</h3>
                        <p>Visual representations of released state data.</p>
                    </div>
                    <div class="MapsAndCharts_LM"><span>Learn More<strong>-></strong></span></div>
                </a>
            </div>

            <div class="Tesing">
                <div class="Tesing_content">
                    <div class="Tesing_txt">
                        <h2>Johns Hopkins COVID-19 Testing Insights Initiative</h2>
                        <p>Providing public access to COVID-19 testing data, resources, and expert analysis</p>
                        <div class="MapsAndCharts_LM Lm"><span>Learn More<strong>-></strong></span></div>
                    </div>
                    <div class="Tesing_image">
                        <img src="images/img_01.jpg" alt="testing">
                    </div>
                </div>
            </div>
            <div class="Resource">
                <div class="Resource_content clearfix">
                    <h2 class="fl">Resource Network</h2>
                    <p class="fr">
                        Useful resources, information, and analysis about the spread and impact of COVID-19.
                    </p>
                </div>
                <div class="ResourceNetwork">
                    <a class="ResourceNetwork_item">
                        <h3>Facts From Medical Experts</h3>
                        <p>Important information about how Johns Hopkins Medicine is preparing for this novel
                            coronavirus</p>
                        <div class="ResourceNetworkItem_img">
                            <img class="ResourceNetworkItem_Logo" src="images/img_01.svg" alt="Johns Hopkins Medicine">
                        </div>
                    </a>
                    <a class="ResourceNetwork_item">
                        <h3>COVID-19 Expert Reality Check</h3>
                        <p>Critical public health insights to understand the impact of the emerging outbreak</p>
                        <div class="ResourceNetworkItem_img">
                            <img class="ResourceNetworkItem_Logo" src="images/img_03.png" alt="Johns Hopkins Medicine">
                        </div>
                    </a>
                    <a class="ResourceNetwork_item">
                        <h3>Prevention and Preparedness</h3>
                        <p>Resources and information to prepare for and prevent the spread of the coronavirus</p>
                        <div class="ResourceNetworkItem_img">
                            <img class="ResourceNetworkItem_Logo" src="images/img_02.svg" alt="Johns Hopkins Medicine">
                        </div>
                    </a>
                    <a class="ResourceNetwork_item">
                        <h3>School of Public Health Expert Insights</h3>
                        <p>Webcasts, podcasts, and articles featuring evidence-based insights from experts</p>
                        <div class="ResourceNetworkItem_img">
                            <img class="ResourceNetworkItem_Logo" src="images/img_04.png" alt="Johns Hopkins Medicine">
                        </div>
                    </a>
                    <a class="ResourceNetwork_item">
                        <h3>State and Local Health Officials</h3>
                        <p>NACCHO’s directory of state and local health officials</p>
                        <div class="ResourceNetworkItem_img">
                            <img class="ResourceNetworkItem_Logo" src="images/img_05.jpeg" alt="Johns Hopkins Medicine">
                        </div>
                    </a>
                    <a class="ResourceNetwork_item">
                        <h3>Ethics and Policy Insights and Resources</h3>
                        <p>Resources for shaping an international health response to COVID-19 that is ethical as well as
                            effective.</p>
                        <div class="ResourceNetworkItem_img">
                            <img class="ResourceNetworkItem_Logo" src="images/img_06.png" alt="Johns Hopkins Medicine">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--"MapsAndCharts结束-->
    </div>
    <!--内容结束-->


    <!--footer开始-->
    <footer class="Footer_base">
        <div class="Footer_container">
            <div class="Footer_banner"><img class="Footer_img" src="images/logo.png"></div>
            <p class="Footer_info">© 2020 Johns Hopkins University. All rights reserved.<br>
                <a href="#" target="_blank" rel="noopener noreferrer">Privacy Statement</a>
            </p>
        </div>
    </footer>
    </div>

</body>

</html>